
body{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    height: 100vh;
    background: #453061;
}
.nav{
    background: #5a3d80;
    width: 425px;
    padding: 10px 0 10px 0px;
    border-radius: 20px;
    box-shadow: 1px 3px 1px 2px rgb(0, 0, 0);
}

.nav .categ{
    color: white;
    font-size: 500;
    font-weight: 500;
    letter-spacing: .5px;
}

.dropbtn{
    cursor: pointer;
    color: rgb(231,231, 231);
    font-size: 16px;
    padding: 0 0 0 18px;
    transition:  all .1s ease-in-out;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropbtn{
    color: white;
}

.dropdown-content{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
    padding-top: 25px;
    transition: .6s;
}


























